<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="fade-move-in">
        <nav class="navigation">
            <a href="#about">About Me</a>
            <a href="#projects">Projects</a>
            <a href="#experience">Experience</a>
            <a href="#education">Education</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
    
    <div class="header-text fade-move-in"> 
        <h1>Hey! I'm <span>Cade</span> Agostinelli.</h1>
        <p>Full-Stack Development, Machine Learning, Data Analytics, Unit Testing</p>
        <div class="button-container">
            <a href="../images/Resume.pdf" class="button">Resume</a>
            <a href="https://github.com/cadeagostinelli" class="icon-button">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/cade-agostinelli/" class="icon-button">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
    
    <div id="about" class="fade-move-in">
        <div class="container">
            <div class="row">
                <div class="about-col-2">
                    <h1 class="descript">About Me</h1>
                    <p class="paragraph"> 
                        I'm a Bachelors student studying Computer Science at Mississippi State University in my third-year. 
                        Since participating in my first coding competition 7 years ago, I have focused on developing my skillset and gaining hands-on experience.  
                        I have interned with the startup Fractal Networks here in Starkville, where I worked on creating unit tests for their client and as a full-stack developer for their application.
                        I have also accepted an internship offer with Volvo for summer/fall of 2025!
                    </p>
                    <p class="paragraph"> 
                        In my free time, I enjoy working out, and being active with basketball, hiking, and being outdoors. 
                        I also enjoy painting and learning to play jazz keyboard. 
                    </p>
                </div>
                <div class="about-col-1">
                    <img src="../images/IMG_0588 (1).JPG">
                </div>
            </div>
        </div>
    </div>

    <div id="projects" class="fade-move-in">
        <div class="projects-container">
            <h1 class="projects-header">Projects</h1>
            <div class="project-card">
                <img src="../images/Screenshot 2024-11-30 150326.png" class="project-card-image" alt="Finance Guru">
                <div class="project-card-content">
                    <h3>Diabetes Prediction Model</h3>
                    <p>We developed a machine learning model to accurately predict diabetes in patients given various factors.</p>
                    <ul class="technologies">
                        <li>Python</li>
                        <li>Pytorch</li>
                        <li>Pandas</li>
                        <li>Sklearn</li>
                    </ul>
                    <a href="https://github.com/cadeagostinelli/ML_Diabetes" class="icon-button">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
            <div class="project-card">
                <img src="../images/drowsydriving.png" class="project-card-image" alt="Drowsy Driving Prototype">
                <div class="project-card-content">
                    <h3>Drowsy Driving Prototype</h3>
                    <p>Year long project where I worked with a team to develop a product from scratch to address the issue of drowsy driving through our prototype.</p>
                    <ul class="technologies">
                        <li>C++</li>
                        <li>Arduino</li>
                        <li>Circuit Boarding</li>
                    </ul>
                    <a href="https://shorturl.at/aS6CV" class="icon-button"></a>
                </div>
            </div>
            <div class="project-card">
                <img src="../images/fullgenepoch6.png" class="project-card-image" alt="Ecommerce Backend">
                <div class="project-card-content">
                    <h3>Generative Adversarial Network (GAN) for X-ray Images</h3>
                    <p>Developed a GAN network that utilizes a discriminator and a generator to generate X-ray imaging of pneumothorax to help augment datasets</p>
                    <ul class="technologies">
                        <li>Python</li>
                        <li>Pytorch</li>
                        <li>Pandas</li>
                    </ul>
                    <a href="https://github.com/cadeagostinelli/AI_GAN" class="icon-button">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <h1 class="projects-header">Experience</h1>
    <div id="experience" class="fade-move-in">
        <div class="experience-container">
            <div class="job-buttons">
                <button class="job-button" onclick="showDescription('job1')">Software Engineer Intern</button>
                <button class="job-button" onclick="showDescription('job2')">STEM Teacher</button>
            </div>
            <div class="job-description" id="job-description">
                <h2 class="job-title">Software Engineer Intern<span class="company">@ Fractal Networks</span></h2>
                <p class="dates">Jan 2024 - Apr 2024</p>
                <ul class="job-responsibilities">
                    <li>Collaborated with a team and led the development of over 50% of the backend production code for an event social media app utilizing 
                    React, Django, and Node.js, resulting in a user-friendly interface with efficient backend integration</li>
                    <li>Containerized applications with Docker to ensure consistent environments, and improved scalability through CI/CD processes, 
                    including pull requests and resolving merge conflicts</li>
                    <li>Implemented notification and phone verification functionality of the app using Twilio API and developed REST APIs 
                    for seamless communication between frontend and backend services</li>
                    <li>Developed unit tests for Fractal Network’s extensive systems and clients, achieving 90% average code coverage</li>
                    <li>Improved Fractal Network’s asynchronous client by developing over 60+ unit tests with Python while collaborating with 
                    senior software engineers to conduct code reviews and reimplement the client’s infrastructure</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="education" class="fade-move-in">
        <h1 class="education-top">Education</h1>
        <div class="education-container">
            <h1 class="edu-header">
                <span class="degree">Bachelors in Computer Science</span>
                <span class="expected-date">Expected 2026</span>
            </h1>
            <div class="edu-description" id="edu-description">
                <h2 class="university">Mississippi State University</h2>
                <p class="gpa">GPA: 3.75</p>
                <h3 class="extracurricular-header">Extracurriculars</h3>
                <ul class="extracurriculars-list">
                    <li>Space Cowboys</li>
                    <li>Artificial Intelligence Club</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="contact" class="fade-move-in">
        <h1 class="contact-top">Contact</h1>
        <div class="contact-info">
            <p>Email: <a href="mailto:cadeagostinelli@gmail.com" class="contact-link">cadeagostinelli@gmail.com</a></p>
            <p>Phone: <a href="tel:+16019859549" class="contact-link">+1 (601) 985-9549</a></p>
        </div>
    </div>

    <script src="../script.js"></script>
</body>
</html>
